# 1. 硬體驅動與 USB
EXT_PACKAGES_NAME[1]="r8125"
EXT_PACKAGES_PATH[1]="package/kernel/r8125"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/sbwml/package_kernel_r8125"
EXT_PACKAGES_BRANCH[1]="main"

EXT_PACKAGES_NAME[2]="r8168"
EXT_PACKAGES_PATH[2]="package/kernel/r8168"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/immortalwrt/packages"
EXT_PACKAGES_BRANCH[2]="master"

EXT_PACKAGES_NAME[3]="luci-app-usb-printer"
EXT_PACKAGES_PATH[3]="applications/luci-app-usb-printer"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/immortalwrt/luci"
EXT_PACKAGES_BRANCH[3]="master"

# 2. 網路優化
EXT_PACKAGES_NAME[4]="shortcut-fe"
EXT_PACKAGES_PATH[4]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[4]="package"

EXT_PACKAGES_NAME[5]="luci-app-turboacc"
EXT_PACKAGES_PATH[5]="applications/luci-app-turboacc"
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[5]="package"

# 3. 系統工具與 AdGuard
EXT_PACKAGES_NAME[6]="luci-app-adguardhome"
EXT_PACKAGES_PATH[6]="applications/luci-app-adguardhome"
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/chenmozhijin/luci-app-adguardhome"
EXT_PACKAGES_BRANCH[6]="main"

EXT_PACKAGES_NAME[7]="ddns-scripts_aliyun"
EXT_PACKAGES_PATH[7]="package/lean/ddns-scripts_aliyun"
EXT_PACKAGES_REPOSITORIE[7]="https://github.com/coolsnowwolf/packages"
EXT_PACKAGES_BRANCH[7]="master"

# 4. 美化介面
EXT_PACKAGES_NAME[8]="luci-theme-argon"
EXT_PACKAGES_PATH[8]="themes/luci-theme-argon"
EXT_PACKAGES_REPOSITORIE[8]="https://github.com/jerrykuku/luci-theme-argon"
EXT_PACKAGES_BRANCH[8]="main"

EXT_PACKAGES_NAME[9]="luci-app-argon-config"
EXT_PACKAGES_PATH[9]="applications/luci-app-argon-config"
EXT_PACKAGES_REPOSITORIE[9]="https://github.com/jerrykuku/luci-app-argon-config"
EXT_PACKAGES_BRANCH[9]="main"
